<main class="">
  <div class="mx-5">
    <h1 class="text-xl font-bold my-5 ">Golf results:</h1>
    <div class="overflow-x-scroll w-full mb-5">
      <table class="table-auto">
        <thead class="bg-zinc-700 text-white">
          <tr>
            <th *ngFor="let col of columns" class="border-x border-x-white"
              (click)="compareCol == col ? compareAsc = !compareAsc : compareCol = col"
              [ngClass]="{'bg-zinc-500' : compareCol == col}"></th>
            <th *ngFor="let _ of [].constructor(holeCount); let holeNum=index" colspan="2"
              class="border-x border-x-white">
              Hole {{holeNum + 1}}
            </th>
            <th colspan="2" class="border-x border-x-white">Total</th>
          </tr>

          <tr>
            <th *ngFor="let col of columns.concat(holeStatColumns)"
              (click)="compareCol == col ? compareAsc = !compareAsc : compareCol = col"
              class="whitespace-nowrap text-left px-2 border-x border-x-white"
              [ngClass]="{'bg-zinc-500' : compareCol == col}">
              {{col[0]}} {{compareCol==col ? compareAsc ? "▾" : "▴" : ""}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr app-result class="even:bg-zinc-300 odd:bg-white"
            *ngFor="let result of results | keyvalue:getResultComparator(compareCol, compareAsc)"
            [result]="result.value" [columns]="columns.concat(holeStatColumns)"></tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
